<table class="table table-responsive table-bordered" id="candidate_list">
  <thead>
    <th>Name</th>
    <th>Added By</th>
    <th>Report Generated</th>
    <th>Action</th>
  </thead>
  <tbody>
    {% if candidates %} {% for candidate in candidates %}
    <tr>
      <td>{{ candidate.name or 'N/A' }}</td>
      <td>{{ candidate.user_data().full_name or 'N/A' }}</td>
      <td>
        {% if candidate.is_report_generated %}
        <span class="badge generated">Generated</span>
        {% else %}
        <span class="badge not_generated">Not Generated</span>
        {% endif %}
      </td>
      <td>
        {% if candidate.is_report_generated %}
        <!--        <a-->
        <!--          href="{{ url_for('interview_analyzer.view_report',id=candidate.id) }}"-->
        <!--          class="btn btn-info btn-sm"-->
        <!--          >View Report</a-->
        <!--        >-->
        <a
          target="_blank"
          href="/{{ candidate.interview_video  }}"
          class="btn btn-theme-white btn-sm"
          >View Video</a
        >
        <a
          target="_blank"
          href="{{ candidate.report_url }}"
          class="btn btn-theme-white btn-sm"
          >Report PDF</a
        >
        <!--<a target="_blank" href="{{ url_for('interview_analyzer.view_report', id=candidate.id) }}" class="btn btn-theme-white btn-sm "
        >Detail Report</a
        >-->
        {% else %} {% if candidate.video_analysis_status == "completed" %}
        <a
          href="{{ url_for('interview_analyzer.generate_report_command') }}?candidate={{ candidate.id }}"
          class="btn btn-theme-white btn-sm"
          >Generate Report</a
        >
        {% endif %} {% endif %} {% if candidate.video_analysis_status ==
        "pending" %}
        <a
          href="#"
          data-candidate="{{ candidate.id }}"
          class="btn btn-theme-white btn-sm analyze-this"
          >Analyze Video</a
        >
        {% endif %}
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="4">No Candidates Found.</td>
    </tr>
    {% endif %}
  </tbody>
</table>

<script>
    function reload_candidate_list_table() {
    $.ajax({
      type: "GET",
      url: '{{ url_for('interview_analyzer.fetch_candidate_list') }}',
      dataType: "html",
      success: function (response) {
        $(".table_div").html(response);
      },
    });
  }

  $(document).ready(function() {
  // Attach a click event handler to links with the 'analyze-this' class
      $('.analyze-this').click(function(event) {
          event.preventDefault(); // Prevent the default link behavior
          // Disable the link
          $(this).css({"pointer-events": "none", "opacity": "0.6"});
          $(this).text("Analyzing");
          // Get the candidate ID from the 'data-candidate' attribute
          var candidateId = $(this).data('candidate');
          // Perform your AJAX request here
          $.ajax({
          url: '{{ url_for('interview_analyzer.run_tasks') }}', // Replace with your actual AJAX endpoint URL
          type: 'POST', // or 'GET', depending on your requirements
          contentType: 'application/json', // Set the content type to JSON
          data: JSON.stringify({ candidate_id: candidateId }), // Convert data to JSON format
          success: function(response) {
              // Handle the AJAX response here
              console.log('AJAX success', response);
              reload_candidate_list();
              // You can update the UI or do other operations with the response data
          },
          error: function(xhr, status, error) {
              // Handle AJAX errors here
              console.error('AJAX error', status, error);
          }
          });

      });
  });
</script>
