<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report</title>
        <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{ base_dir+'/static/admin/assets/vendor/fonts/boxicons.css' }}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ base_dir+'/static/admin/assets/vendor/css/core.css' }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ base_dir+'/static/admin/assets/vendor/css/theme-default.css' }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ base_dir+'/static/admin/assets/css/demo.css' }}" />
    <style>
    h1{
        color: #ff0000;
    }
</style>
</head>
<body class="bg-white">
<div class="container d-flex justify-content-between align-items-center">
    <img src="{{ base_dir }}/static/public/images/company_logo.jpg" alt="">
    <h1><strong>{{ candidate.name or '' }}</strong></h1>
</div>
<hr />
{% if report_data %}
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <div class="section">
                <h2 class="text-center text-black">Overall Rating</h2>
                <img src="{{ base_dir }}/{{ report_data['overall']['url'] }}" alt=""/>
            </div>
        </div>
    </div>
    {% with questions = report_data['questions'] %}
        {% if questions %}
            <div class="mt-5">
            <table class="table table-responsive table-bordered">
                <thead>
                    <th>Question</th>
                    <th>Rating</th>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td>{{ question['question_title'] }}</td>
                        <td><img src="{{ base_dir }}/{{ question['question_url'] }}" alt="" style="width: 200px;"/></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% endif %}
    {% endwith %}
{% endif %}
</body>
</html>