{% extends 'layouts/admin/dashboard/base.html' %} {% block page_title %} Smart
Interview Assessment {% endblock %} {% block page_body_title %} Report | Smart
Interview Assessment {% endblock %} {% block body_block %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"/>
<link href="{{ url_for('static', filename='assets/css/details_report.css') }}" rel="stylesheet"/>

<div class="container">
<div class="row row-css-1" >
 <div class="report-container">
  <h3 class="report-title">Interviewer Report</h3>
<!--     <a   data-toggle="modal" data-target=".bs-example-modal-new">-->
   <i class="fa fa-info-circle model-css-1" aria-hidden="true" title="Tooltip Text" data-bs-toggle="modal" data-bs-target="#myModal"></i>

<!--  <i class="fa fa-info-circle" aria-hidden="true" style="color:#ff3e1d;font-size:22px;cursor: pointer;" title="Tooltip Text"></i>-->
<!--</a>-->
 </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card  bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="{{ url_for('static', filename='assets/images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
        <p class="font-weight-normal mb-3 box-p-tag">Confidence Score (CS) <i class="mdi mdi-chart-line mdi-24px float-right;" ></i>
        </p>
        <p class="percentage-font">24.00%</p>

      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="{{ url_for('static', filename='assets/images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
        <p class="font-weight-normal mb-3 box-p-tag">Nervousness Score (NS) <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </p>
        <p class="percentage-font">26.00%</p>

      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="{{ url_for('static', filename='assets/images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
        <p class="font-weight-normal mb-3 box-p-tag">Confidence Level (CL) <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </p>
        <p class="percentage-font">24.00%</p>

      </div>
    </div>
  </div>
</div>
<br/>
  <div class="row row-background">
  <div class="report-container">
  <h3 class="report-title">Candidate Report</h3>
  <i class="fa fa-info-circle icon-css" aria-hidden="true" title="Tooltip Text"></i>
</div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card  bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="{{ url_for('static', filename='assets/images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
        <p class="font-weight-normal mb-3 box-p-tag">Confidence Score (CS) <i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </p>
        <p class="percentage-font">24.00%</p>

      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="{{ url_for('static', filename='assets/images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
        <p class="font-weight-normal mb-3 box-p-tag">Nervousness Score (NS) <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </p>
        <p class="percentage-font">26.00%</p>

      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="{{ url_for('static', filename='assets/images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
        <p class="font-weight-normal mb-3 box-p-tag">Confidence Level (CL) <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </p>
        <p class="percentage-font">24.00%</p>

      </div>
    </div>
  </div>
</div>
</br></br>
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <h4>Report</h4>
      </div>
      <div class="card-body">
        <h5>Candidate Name : {{ candidate.name }}</h5>
        <div class="col-md mb-4 mb-md-0">
          <small class="text-light fw-semibold">Question Analysis</small>
          <div class="accordion mt-3" id="accordionExample">
            <div class="card accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  type="button"
                  class="accordion-button collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#accordionOne"
                  aria-expanded="false"
                  aria-controls="accordionOne"
                >
                  Question 1
                </button>
              </h2>

              <div
                id="accordionOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"

              >
                <div class="accordion-body">
                  Lemon drops chocolate cake gummies carrot cake chupa chups
                  muffin topping. Sesame snaps icing marzipan gummi bears
                  macaroon dragée danish caramels powder. Bear claw dragée
                  pastry topping soufflé. Wafer gummi bears marshmallow pastry
                  pie.
                </div>
              </div>
            </div>
            <div class="card accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  type="button"
                  class="accordion-button collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#accordionTwo"
                  aria-expanded="false"
                  aria-controls="accordionTwo"
                >
                  Question 2
                </button>
              </h2>
              <div
                id="accordionTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
                style=""
              >
                <div class="accordion-body">
                  Dessert ice cream donut oat cake jelly-o pie sugar plum
                  cheesecake. Bear claw dragée oat cake dragée ice cream halvah
                  tootsie roll. Danish cake oat cake pie macaroon tart donut
                  gummies. Jelly beans candy canes carrot cake. Fruitcake
                  chocolate chupa chups.
                </div>
              </div>
            </div>
            <div class="card accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  type="button"
                  class="accordion-button collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#accordionThree"
                  aria-expanded="false"
                  aria-controls="accordionThree"
                >
                  Question 3
                </button>
              </h2>
              <div
                id="accordionThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
                style=""
              >
                <div class="accordion-body">
                  Oat cake toffee chocolate bar jujubes. Marshmallow brownie
                  lemon drops cheesecake. Bonbon gingerbread marshmallow sweet
                  jelly beans muffin. Sweet roll bear claw candy canes oat cake
                  dragée caramels. Ice cream wafer danish cookie caramels
                  muffin.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



{% endblock %}
