{% extends 'layouts/admin/dashboard/base.html' %}

{% block page_title %} Infobeans Employees {% endblock %}

{% block page_body_title %} Infobeans Employees {% endblock %}

{% block body_block %}
<div class="row">
  <div class="col-xl-12">
    <div class="card">
     <div class="card-header d-flex justify-content-between border-bottom">
         <h4>Infobeans Employees</h4>
         <div>
             <a href="{{ url_for('attendance.employee_create') }}" class="btn btn-theme-white">Add Employee</a>
             <a href="javascript:train_model()" class="btn btn-theme-white">Train Model</a>
         </div>
     </div>
     <div class="card-body pt-2 pb-2">
         <div class="row">
            <table class="table table-responsive table-bordered" id="candidate_list">
              <thead>
                <th>Name</th>
                <th>Action</th>
              </thead>
              <tbody>
                {% if employees %} {% for employee in employees %}
                <tr>
                  <td>{{ employee.name or 'N/A' }}</td>
                  <td>
                      <a href="{{ url_for('attendance.employee_update',id=employee.id) }}" class="btn btn-theme-white">Edit</a>
                      <a href="{{ url_for('attendance.delete_employee',id=employee.id) }}" class="btn btn-theme-white">Delete</a>
                      <a href="{{ url_for('attendance.employee_view_attendance',id=employee.id) }}" class="btn btn-theme-white">View Attendance</a>
                  </td>
                </tr>
                {% endfor %} {% else %}
                <tr>
                  <td colspan="4">No Employees Found.</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
         </div>
     </div>
    </div>
  </div>
</div>


<div class="loader_wrapper d-none">
  <div class="loader">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      style="margin: auto; display: block"
      width="200px"
      height="200px"
      viewBox="0 0 100 100"
      preserveAspectRatio="xMidYMid"
    >
      <circle cx="30" cy="50" fill="#373450" r="20">
        <animate
          attributeName="cx"
          repeatCount="indefinite"
          dur="1s"
          keyTimes="0;0.5;1"
          values="30;70;30"
          begin="-0.5s"
        ></animate>
      </circle>
      <circle cx="70" cy="50" fill="#ea1b3d" r="20">
        <animate
          attributeName="cx"
          repeatCount="indefinite"
          dur="1s"
          keyTimes="0;0.5;1"
          values="30;70;30"
          begin="0s"
        ></animate>
      </circle>
      <circle cx="30" cy="50" fill="#373450" r="20">
        <animate
          attributeName="cx"
          repeatCount="indefinite"
          dur="1s"
          keyTimes="0;0.5;1"
          values="30;70;30"
          begin="-0.5s"
        ></animate>
        <animate
          attributeName="fill-opacity"
          values="0;0;1;1"
          calcMode="discrete"
          keyTimes="0;0.499;0.5;1"
          dur="1s"
          repeatCount="indefinite"
        ></animate>
      </circle>
    </svg>
  </div>
</div>
{% endblock %}

{% block head_styles %}
<style>
  .table thead th {
    background-color: #373450;
    color: #ffffff !important;
  }
</style>
{% endblock %}

{% block body_scripts %}
    <script>
        function train_model(){
            $.ajax({
                url: '{{ url_for('attendance.employee_train_model') }}',
                type: 'POST',
                dataType:'json',
                beforeSend: function(){
                    $('.loader_wrapper').removeClass('d-none');
                },
                success:function(response){
                    console.log(response);
                    alert(response.status);
                    $('.loader_wrapper').addClass('d-none');
                },
                error: function (e){
                    console.log(e);
                    $('.loader_wrapper').addClass('d-none');
                }
            });
        }
    </script>
{% endblock %}